/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px){
  .header{
    padding: 1.5rem;
    border: 1px solid orange;
}
.logo-text, .menu, .nav-btn{
    display: none;
}
.btn:hover{
  transform: none;
}
.btn-secondary:hover{
  background-color: #111;
}
.icon{
    display: block;
    position: absolute;
    top: -20px;
    right: -30px;
    transform: translate(-100%, 60%);
    font-size: 4rem;
    cursor: pointer;
}
.hero-img{
    order: 1;
}
.hero-content{
    order: 2;
    text-align: center;
}
.arrow {
  display: none;
}
.hero, .footer-container, .curriculum-items {
flex-direction: column;
}
  .curriculum, .our-stories{
    padding: 40px 0;
  }
  .hero{
    padding: 8px 17px;
    gap: 1.25rem;
  }
  .hero-title{
    margin: 0 31px 0;
    font-size: 2rem;
  }
  .hero-text{
    font-size: .875rem;
    font-weight: 500;
    padding: 0 30px 0;
    margin: 1.125rem 0;
  }
  .curriculum-items{
    padding: 0 1rem;
    gap: 1.25rem;
  }
  .curriculum-item:hover{
    transform: none;
    cursor: pointer;
}
  .section-title{
    font-size: 1.625rem;
    margin-bottom: 25px;
  }
  .left-stories-content{
    display: none;
  }
  .right-stories-content{
    padding: 0 1rem;
    gap: .6875rem;
  }
  .d-block{
    display: block;
  }
  .group-item-btn {
    top: -15px;
    padding: 5px 11px;
    border-radius: 28px;
    font-size: .5625rem;
    font-weight: 500;
}
.group-item-btn:hover{
  transform: none;
  cursor: text;
}
.group-item-title {
  font-size: .5625rem;
  margin-top: 0;
}
.stories-btn{
  display: none;
}
.footer{
  padding: 60px 21px;
}
.logo{
  gap: 8px;
}
.logo img{
  margin: 5px 0 0 -10px;
}
.footer-section h2{
  margin-bottom: 0;
  font-size: 2.1875rem;
  font-weight: 700;
}
.footer-section p{
  font-size: 1rem;
  margin: 22px 0 32px;
}
.footer-section h3{
  font-size: 1.25rem;
  margin-bottom: 25px;
  font-weight: 500;
}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px){
.left-stories-content{
  display: none;
}
.right-stories-content{
  padding: 0 1rem;
}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px){

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px){

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){

}