@media (max-width: 768px) {
    .header{
        padding: 1.5rem 0;
        border: 1px solid orange;
    }
    .logo-text, .menu, .nav-btn{
        display: none;
    }
    .icon{
        display: block;
        position: absolute;
        top: 14px;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 2.8rem;
        cursor: pointer;
    }
    .hero-img{
        order: 1;
    }
    .hero-content{
        order: 2;
        text-align: center;
    }
    .arrow {
      display: none;
    }
    .curriculum-items{
        padding: 0 50px;
    }
    .hero, .footer-container, .curriculum-items {
      flex-direction: column;
    }
  
    .footer-section {
      margin-bottom: 20px;
    }
  }