@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
body{
    background-color: #f1f1f1;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
button{
    cursor: pointer;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
}
/* shared styles */
.flex{
    display: flex;
}
.btn{
    padding: 15px 60px;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.875;
    color: #fff;
    transition: all 0.5s linear;
}
.btn:hover{
    transform: translateY(-5px);
}
.cp{
    padding: 60px 0;
}
.d-none{
    display: none;
}
.text-center{
    text-align: center;
}
.section-title{
    font-size: 2.875rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 5rem;
}
.sky-blue{
    color: skyblue;
}
.orange{
    color: orange;
}
.sky{
    color: #05D4DF;
}
.green{
    color: #5D58EF;
}
.border{
    border: 1px solid #7e0505;
}
/* header start */
.header{
    justify-content: space-between;
    align-items: center;
    padding: 2.37rem 0;
}
.logo{
    align-items: center;
}
.logo-text{
    font-size: 32px;
    font-weight: 700;
    color: #111111;
    margin-left: 11px;
    text-transform: uppercase;
}
.menu ul li{
    margin-right: 46px;
}
.menu ul li:last-child{
    margin-right: 0;
}
.menu ul li a{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.875;
}
.btn-primary{
    background-color: #FEA301;
}
.btn-primary:hover{
    background-color: #111;
}
.hero{
    justify-content: space-between;
    align-items: center;
    gap: 4.56rem;
}
.hero-content{
    max-width: 640px;
}
.hero-title{
    margin-right: 53px;
    font-size: 3.5rem;
    font-weight: 700;
    color: #111111;
}
.hero-text{
    font-size: 1.25rem;
    font-weight: 400;
    color: #111111;
    margin: 1.5rem 0;
}
.btn-secondary{
    background-color: #111;
}
.btn-secondary:hover{
    background-color: #FEA301;
}
/* header end */

/* main start */
.curriculum{
    background-image: url(../assets/bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.curriculum-items{
    justify-content: center;
    gap: 1.8rem;
    margin-bottom: 5rem;
}
.kinder-item{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 40%, rgba(222,245,255,1) 100%);
}
.elementary-item{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 40%, rgba(255,244,220,1) 100%);
}
.middle-item{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 40%, rgba(238,225,255,1) 100%);
}
.curriculum-item{
    padding: 53px 40px;
    border-radius: 18px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.05);
    transition: all 0.3s linear;
    text-align: center;
}
.curri-img{
    max-width: 137px;
    margin: 0 auto;
}
.curri-title{
    margin: 32px 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: #202020;
}
.curri-text{
    margin-bottom: 33px;
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
}
.kinder-link{
    font-size: 1rem;
    color: #64C8FF;
}
.elementary-link{
    font-size: 1rem;
    color: #F0AA00;
}
.middle-link{
    font-size: 1rem;
    color: #8700FF;
}
.curriculum-item:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
.less-then{
    background-color: #F0AA00;
    padding: 28px 27px 24px;
    border-radius: 50%;
    transition: all 0.3s linear;
}
.less-then:hover{
    background-color: #111;
    cursor: pointer;
}
.less-then i{
    font-size: 1.625rem;
    color: #fff;
}
.greater-then{
    margin-left: 10px;
    background-color: #F0AA00;
    padding: 28px 27px 24px;
    border-radius: 50%;
    transition: all 0.3s linear;
}
.greater-then:hover{
    background-color: #111;
    cursor: pointer;
}
.greater-then i{
    font-size: 1.625rem;
    color: #fff;
    align-content: center;
}
/* curriculum end */

/* our stories start */
.our-stories{
    background: linear-gradient(0deg, rgba(254, 163, 1, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%), url(../assets/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
}
.our-stories-container{
    justify-content: space-between;
    gap: 1.17rem;
}
.left-stories-content{
    max-width: 540px;
}
.single-item{
    /* border-radius: 0 0 18px 18px; */
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.05);
    transition: all 0.3s linear;
}
.single-item img{
    max-width: 100%;
    border-radius: 18px 18px 0 0;
}
.single-item-content{
    padding: 53px 40px;
    position: relative;
    background-color: #fff;
    border-radius: 0 0 18px 18px;
}
.single-item-btn{
    position: absolute;
    top: -30px;
    padding: 15px 19px;
    border: none;
    border-radius: 47px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.8;
    color: #fff;
    background-color: #3CD8E8;
    transition: all 0.5s linear;
}
.single-item-btn:hover{
    transform: translateY(-5px);
    cursor: text;
}
 .single-item-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    /* margin: 1.5rem 0; */
 }
 .single-item-text{
    font-size: 1rem;
    font-weight: 500;
    color: #666666;
    margin-top: 2.93rem;
 }
 .right-stories-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.125rem;
    max-width: 601px;
 }
 .group-item{
    border-radius: 18px;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.05);
    transition: all 0.3s linear;
 }
 .group-item img{
    max-width: 100%;
    border-radius: 18px 18px 0 0;
}
.group-item-content{
    padding: 32px 30px;
    position: relative;
    background-color: #fff;
    border-radius: 0 0 18px 18px;
}
.group-item-btn{
    position: absolute;
    top: -20px;
    padding: 10px 19px;
    border: none;
    border-radius: 47px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.8;
    color: #fff;
    background-color: #95B226;
    transition: all 0.5s linear;
}
.group-item-btn:hover{
    transform: translateY(-5px);
    cursor: text;
}
.group-btn-bg{
    background-color: #5D58F0;
}
.group-item-title{
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    margin-top: 1rem;
}
.stories-btn{
    margin: 80px 0 60px;
}
.stories-bottom-btn{
    padding: 10px 61px;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.875;
    color: #fff;
    background-color: #000000;
    transition: all 0.5s linear;
}
/* our stories end */

/* main end */

/* footer start */
.footer {
    background-color: #00aaff; /* Blue background color */
    color: white;
    padding: 123px 228px 174px 140px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
  }
  
  .footer-section {
    flex: 1;
    margin: 0 10px;
  }
  
  .footer-section h2,
  .footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  .footer-section p {
    line-height: 1.6;
    font-size: 0.9rem;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo img {
    width: 82px;
    height: 81px;
    margin-bottom: 15px;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
  
  .social-icons img {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .social-icons img:hover {
    color: #ffd700; /* Golden hover color */
  }
  .icon{
    display: none;
  }
  